---

---

<div class="bg-main-red border-b-2 border-main-black sticky top-0">
  <div class="max-w-6xl h-14 m-auto">
    <div class="px-5 flex">
      <div class="flex">
        <span>Logo</span>
      </div>
      <nav class="flex flex-grow justify-center">
        <ul class="flex p-0 m-0">
          <li>
            <a class="cursor-pointer" href="#about">Home</a>
          </li>
          <li>
            <a class="cursor-pointer" href="#posts">Experience</a>
          </li>
          <li>
            <a class="cursor-pointer" href="#projects">Portfolio</a>
          </li>
        </ul>
      </nav>
      <div class="flex">
        <span>Hire me</span>
      </div>
    </div>
  </div>
</div>
