---
import Navbar from "@components/general/Navbar.astro";
import Footer from "@components/general/Footer.astro";
import info from "src/data/info.json";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width" />

    <meta name="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <meta name="generator" content={Astro.generator} />

    <title>{title} - {info.name}</title>
  </head>
  <body class="mx-auto px-4 max-w-6xl bg-white">
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
